@model Video

<button hx-get="/video/@Model.Id">
    <div class="hover:bg-neutral-600 p-2 rounded-xl">
            <img src="@Model.ImageUrl" height="256" class="rounded-xl">

            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="@Model.User?.ImageUrl" class="rounded-full" width="48">
                    </div>

                    <div class="col my-2">
                        <h2 class="text-gray-300">@Model.Title</h2>

                    <a href="@Model.User?.UserUrl">
                        <h3 class="text-gray-400 hover:text-gray-500">@Model.User?.Name</h3>
                    </a>

                    <h3 class="text-gray-300">@Model.UploadDate</h3>
                    </div>
                </div>
            </div>
    </div>
</button>